<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671213478521-3f5qbdlgkkqv39ud55mm0v0j75filj4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671213478521-3f5qbdlgkkqv39ud55mm0v0j75filj4c</string>
	<key>API_KEY</key>
	<string>AIzaSyDqq387yvv9AXuGX3yzoI4AFHgUItohG-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>671213478521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterConverse</string>
	<key>PROJECT_ID</key>
	<string>flutterconverse</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterconverse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671213478521:ios:670835d51b91d01ec42aa8</string>
</dict>
</plist>
